@import "tailwindcss";

:root {
  --background: #f5f7fb;
  --foreground: #111827;
  --primary: #ff8243;
  --primary-hover: #e86f33;
  --accent-pink: #ffc0cb;
  --accent-yellow: #fce883;
  --accent-teal: #069494;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}
